
  <div *ngFor="let runner of runners | async" class="col-sm-4">
    <div class="panel panel-default">
    <div class="panel-body">
      <div class="col-xs-12 image"  [ngStyle]= "{'background-image': 'url(' + runner.profilePic + ')'}">
      </div>
      <div class="col-xs-12">
        <h3 (click)="goToDetailsPage(runner)">{{runner.name}}</h3>
      </div>
      <div *ngIf="currentRoute==='/admin'">
        <app-edit-runner [selectedRunner]="runner"></app-edit-runner>
      </div>
    </div>
    </div>
  </div>
