<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Add New Runner</h3>
  </div>
  <div class="panel-body">
    <div class="">
      <div>
        <input #newName placeholder="Name">
      </div>
      <div>
        <input #newRole placeholder="Role">
      </div>
      <div>
        <input #newProfilePic placeholder="Url for profilepic image">
      </div>
      <button type="button" class="btn btn-warning" (click)="submitForm(newName.value, newRole.value, newProfilePic.value); newName.value=''; newRole.value=''; newProfilePic.value='' ">Add</button>
    </div>
  </div>
  </div>
<div>
  <app-runners-list></app-runners-list>
</div>
