@import '../app.component.scss';

/********** Base Styles **********/
.navbar-default {
  background-color: $teal;
  a {
    color: white;
    display: inline-block;
    text-align: center;
  }
  ul {
    display: flex;
    justify-content: center;
    font-size: 1.5em;    
  }
}

.nav > li > a:hover, .nav > li > a:focus {
  background-color: transparent;
}

.title {
  font-family: $lobster;
  font-size: 30px;
  text-align: center;
  a {
    color: white;
    margin: 0 auto;
    display: inline-block;
    &:hover {
      text-decoration: none;
    }
  }
}

/********** Media queries **********/

@media(min-width: 793px) {
  .nav {
    padding-left: auto;
    display: inline-block;
  }

  .nav ul {
    display: inline-block;
  }
  .first {
    order: 1;
  }

  .second {
    order: 2;
  }

  .third {
    order: 3;
  }

  li {
    display: flex;
    align-items: center;
  }

  .flex-mother {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-content: center;
  }

  .title {
    font-size: 60px;
    margin: 35px 30px;
  }
}
