$dark-purple: #800080;
$bright-green: #00ff00;

.navbar-default {
  background-color: $dark-purple;
  a {
    color: white;
    display: inline-block;
    text-align: center;
  }
  ul {
    display: flex;
    justify-content: center;
  }
}

.first {
  order: 1;
}

.second {
  order: 2;
}

.third {
  order: 3;
}

li {
  display: flex;
  align-items: center;
}

.flex-mother {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

.nav > li > a:hover, .nav > li > a:focus {
  background-color: transparent;
}

.title {
  font-family: 'Sedgwick Ave', cursive;
  font-size: 72px;
  margin: 35px 30px;
  text-align: center;
  a {
    color: white;
    margin: 0 auto;
    display: inline-block;
    &:hover {
      text-decoration: none;
    }
  }
}
